@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0D0D15,
      'light-3': #0D0D15,
      'light-5': #0D0D15
    ),
    // 'film': (
    //   'silver': #C0C0C0,       // 胶片银
    //   'silver-dark': #A0A0A0   // 深色变体
    // ),
    // 'gold': (
    //   'hollywood': #E4B722,    // 好莱坞金
    //   'oscar': #FFD700         // 标准金
    // ),
    // 'accent': (
    //   'neon-purple': #9D00FF,  // 霓虹紫
    //   'neon-blue': #00F5FF     // 霓虹蓝（科幻用）
    // )
  ),
  $header: (
    'height': 60px
  ),
  $footer: (
    'height': 30px
  ),
  $table: (
    'header-bg-color': var(--el-fill-color-light),
    'header-text-color': var(--el-text-color-primary)
  ),
  $table-padding: (
    'large': 16px 0,
    'default': 12px 0,
    'small': 4px 0
  ),
  $scrollbar: (
    'bg-color': var(--el-text-color-primary),
    'hover-bg-color': var(--el-text-color-primary)
  )
);

// 自定义覆盖 elementplus 组件样式，补充上面所没有的样式定义
@use './element.scss' as *;
